.photo-grid__img{
    max-width: 100%;
    
}
@media screen and (min-width:  1024px) and (max-width: 1279px) {
    .photo-grid__img{
        width: 326px;
}
    
}
@media screen and (min-width:  768px) and (max-width: 1023px) {
    .photo-grid__img{
        min-width:  360px;
        max-width: 1023px;
}}
@media screen and (max-width: 767px) and (min-width: 376px){
    .photo-grid__img{
        min-width: 376px;
        width: 100vw;
        max-width: 767px;
}}

@media screen and (max-width: 375px) {
    .photo-grid__img{
        max-width: 767px;
        width: 94vw;
}}